@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer components {
  .--title {
    @apply text-[#0040E7] font-bold leading-tight lg:text-lg sm:text-xs;
  }

  .--tag-action {
    @apply flex items-center justify-center gap-1 bg-[#3B82F6] h-[18px] w-[103px] text-[9px] rounded-full tracking-wider text-white;
  }
}

.swiper {
  width: 80%;
  height: 105px;
  --swiper-theme-color: #afafaf;
  --swiper-navigation-size: 20px;
}
.swiper img {
  transition: transform 0.2s ease;
}

.swiper h2 {
  position: absolute;
  top: 50%;
}

.swiper img:hover {
  transform: scale(1.2); /* Scale up the image on hover */
}

.swiper-button-next:after {
  padding-left: 18px;
  text-shadow: 1px 1px 3px #000000;
  padding-bottom: 35px;
}

.swiper-button-prev:after {
  padding-right: 20px;
  text-shadow: 2px 2px 4px #000000;
  padding-bottom: 35px;
}

.swiper h2 {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 8px;
  color: #606774;
  text-align: center;
}

/* default screen */
@media only screen and (max-width: 639px) {
  .swiper img {
    width: 95px;
    height: 70px;
    transition: width 0.08s ease, height 0.08s ease;
  }

  .swiper {
    width: 118%;
    height: 130px;
    overflow: hidden;
  }

  .swiper h2 {
    position: absolute;
    top: 40%;
  }
}
/* small screen */
@media only screen and (min-width: 640px) {
  .swiper h2 {
    position: absolute;
    top: 60%;
  }
}

/* medium screen*/
@media only screen and (min-width: 769px) {
  .swiper {
    width: 90%;
    height: 130px;
  }

  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    z-index: 2;
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }

  .swiper-button-next {
    width: 7px;
    height: 7px;
  }

  .swiper h2 {
    position: absolute;
    top: 40%;
  }
}

/* large screens */
@media only screen and (min-width: 1024px) {
  .swiper h2 {
    position: absolute;
    top: 50%;
  }
}
